$postIt: ‘Gloria Hallelujah’, cursive;
$main: ‘Raleway’, sans-serif;

@mixin flex-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
@mixin flex-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
@mixin backgroundImage {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
// --------------------------
// Body
// --------------------------
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: $main;
    text-align: center;

}
// --------------------------
// Footer
// --------------------------
    .main-footer {
    color: white;
    background-color: rgb(66, 71, 74);
    padding-top: 2em;
    position: fixed;
    bottom: 0;
    width: 100%;
}

// --------------------------
// Edit.js
// --------------------------
    .edit-container {
    height: 100%;
    background-image: url("https://i.imgur.com/a78WcO1.jpg");
    display: flex;
    flex-direction: column;
    @include backgroundImage;
    }