// --------------------------
// Variables
// --------------------------

/*--fonts--*/
$postIt: 'Gloria Hallelujah', cursive;
$main: 'Raleway', sans-serif;
$console: 'IBM Plex Mono', monospace;

/*--imgs--*/
$bluePost: url("https://i.imgur.com/5VChaBJ.png");
$greenPost: url("https://i.imgur.com/YAhCS5S.png");
$brickSmall: url("https://i.imgur.com/WljWs1A.jpg");
$brick500: url("https://i.imgur.com/a4LhMkW.jpg");
$showPic: url("https://i.imgur.com/ooBxPb6.jpg");

$grayBack: rgba(128, 128, 128, 0.767);

@mixin flex-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@mixin flex-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

@mixin backgroundImage {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

// --------------------------
// Body
// --------------------------
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: $main;
    text-align: center;
}

// --------------------------
// Index
// --------------------------
.index-container {
    height: 100%;
    background-image: url("https://i.imgur.com/VvJn5B5.jpg");
    display: flex;
    flex-direction: column;
    align-items: center;
    @include backgroundImage;
}

/*--INDEX LOADING--*/
.loading {
    height: 100vh;

    h1 {
        margin-top: 70px;
        background-color: rgba(128, 128, 128, 0.767);
        font-size: 40px;
        font-weight: bold;
        color: #fff;
        padding: 20px;
        font-family: $postIt;
    }
}

/*--INDEX--*/
.title-container {
    margin-top: 40px;
    background-color: rgba(128, 128, 128, 0.767);
    width: 100%;
    padding: 30px;

    h1 {
        font-family: $postIt;
        font-size: 35px;
        color: #fff;
        font-weight: bold;
    }
}

.index-title-container {
    margin-top: 60px;
    background-color: rgba(128, 128, 128, 0.767);
    width: 50%;
    padding: 20px;

    h2 {
        font-family: $postIt;
        font-size: 26px;
        color: #fff;
        font-weight: bold;
    }
}

/*--job card--*/
.index-card-title {
    margin-top: 25px;
    font-family: $postIt;
    font-size: 18px;
    font-weight: bold;
    color: rgb(60, 60, 60);
}

.section {
    @include flex-column;
}

.job-container {
    background-color: transparent;
    width: 90%;
    margin: 10px;
    @include backgroundImage;
    text-align: center;
    font-size: 16px;
    font-family: $postIt;
}

.job-container:nth-child(odd) {
    background-image: $bluePost;
}

.job-container:nth-child(even) {
    background-image: $greenPost;
}

.index-card-content {
    margin-bottom: 10px;
    color: rgb(60, 59, 59);
}

// --------------------------
// Search 
// --------------------------
.search-container {
    height: 100%;
    background-image: $brickSmall;
    @include backgroundImage;
    @include flex-column;
}

.search-title-container {
    margin-top: 40px;
    background-color: rgba(128, 128, 128, 0.767);
    width: 100vw;
    padding-top: 0;
    padding-bottom: 150px;
    display: flex;
    flex-direction: column;
    align-content: center;

    h1 {
        font-family: $postIt;
        font-size: 35px;
        color: #fff;
        font-weight: bold;
        margin-bottom: 20px;
    }
}

.search-loaded {
    @include flex-column;
}

.loaded-title {
    margin-top: 40px;
    background-color: rgba(128, 128, 128, 0.767);
    width: 50vw;
    padding: 15px;
    @include flex-row;
    margin-bottom: 50px;

    h1 {
        color: #fff;
        font-size: 20px;
        font-weight: bold
    }
}

/*--Forms--*/
.search-box {
    position: relative;
    top: 250px;
    background-color: transparent;
}

.search-box-2 {
    background-color: transparent;
}

/*--specialty form--*/
.search-form-label {
    color: #fff;
    font-size: 18px;
    margin-bottom: 10px;
}

.spec-btn {
    margin-left: 10px;
}

/*--company form--*/
.co-form {
    color: rgb(60, 60, 60);
}

.co-input {
    width: 50%;
    margin-right: 10px;
}

.co-control, .spec-control {    
    @include flex-row;
}


/*--results--*/
.result-list-container{
    @include flex-column;
}

.result-container {
    background-color: transparent;
    width: 80vw;
    margin: 10px;
    @include backgroundImage;
    text-align: center;
    font-size: 15px;
    font-family: $postIt;
}

.result-container:nth-child(odd) {
    background-image: $bluePost;
}

.result-container:nth-child(even) {
    background-image: $greenPost;
}

.result-card-content {
    margin-bottom: 20px;
    color: rgb(60, 59, 59);

    h2 {
        margin: 6px;
    }
}

.search-res-title {
    margin-top: 10px;
    margin-bottom: 13px;
    font-family: $postIt;
    font-size: 23px;
    font-weight: bold;
    color: rgb(60, 60, 60);
}

.result-card-btn-box {
    margin-top: 15px;
    @include flex-row;
}

.result-link {
    margin-right: 10px;
    font-size: 20px;
    color: rgb(60, 60, 60);
    font-family: Arial, Helvetica, sans-serif;
}

.save-btn {
    margin-left: 10px;
    background-color: transparent;
    border: none;
}

span {
    font-size: 20px;
}

.fa-file-download {
    font-size: 18px;
}

.remotive-blurb {
    margin-top: 40px;
    background-color: rgba(128, 128, 128, 0.767);
    width: 70%;
    padding: 20px;
    @include flex-row;
    margin-bottom: 40px;

    p, a {
        color: #fff;
        font-size: 15px;
        font-weight: bold
    }
}

// --------------------------
// Show
// --------------------------
.show-container {
    background-image: url("https://i.imgur.com/DB4IbuX.png");
    @include backgroundImage;
    @include flex-column;
    height: 100%;
}

.show-title-container {
    background-color: $grayBack;
    width: 100%;
    padding: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
   
    .show-title-text {
        font-family: $postIt;
        color: #fff;
        font-size: 30px;
    }
}

.show-content {
    width: 90%;
    background-color: rgba(0, 0, 0, 0.927); 
    display: flex;
    flex-direction: column;
    font-size: 15px;
    padding: 20px;
    font-family: $console;
    color: #fff;
    text-align: left;
    line-height: 1.5;
}

.show-console-one {
    margin-top: 10px;
}

.console-link-span {
    margin-left: 5px;
}

.console-link {
    color: #fff;
}

.console-link:visited {
    color: #fff;
}

.console-link-i {
    font-size: 15px;
    color: #fff;
}

.show-checkBoxes {
    margin-top: 15px;

    h2 {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .show-icon-span {
        margin-right: 7px;
    }

    .show-check-no {
        color: rgb(206, 51, 51);
        font-size: 15px;
    }

    .show-check-yes {
        color: rgb(43, 140, 43);
        font-size: 15px;
    }

}

.show-notes {
    margin-top: 15px;

    p {
        margin-top: 10px;
    }
}

.show-buttons {
    margin-bottom: 30px;
    background-color: rgba(0, 0, 0, 0.927); 
    width: 60%;
    padding: 30px;
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-around;

    #edit, #delete {
        background-color: transparent;
        border: none;
    }
    .fa-edit, .fa-trash {
        font-size: 19px;
        color: #fff;
    }
}

// --------------------------
// Home 
// --------------------------
.home-container {
    height: 100%;
    background-image: url("https://i.imgur.com/DB4IbuX.png");
    background-image: linear-gradient(#3232320a, rgba(191, 191, 191, 0.747)), url("https://i.imgur.com/DB4IbuX.png");
    background-image: -webkit-linear-gradient( #3232320a, rgba(191, 191, 191, 0.747)), url("https://i.imgur.com/DB4IbuX.png");
    background-image: -moz-linear-gradient( #3232320a, rgba(191, 191, 191, 0.747)), url("https://i.imgur.com/DB4IbuX.png");
    @include flex-column;
    @include backgroundImage;
}

.home-title-container {
    margin-top: 60px;
    background-color: rgba(128, 128, 128, 0.767);
    width: 100vw;
    padding: 50px;
    margin-bottom: 80px;

    h1 {
        font-family: $postIt;
        font-size: 35px;
        color: #fff;
        font-weight: bold;
        margin-bottom: 10px;
    }

    p {
        color: #fff;
        margin-top: 15px;
        font-style: italic;
    }
}

.auth-btns {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.home-start-btn {
    font-family: $postIt;
    font-weight: bold;
    font-size: 20px;
    padding: 30px;
    color: #fff;
    background-color: rgba(128, 128, 128, 0.767);
}

.features-container {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.feat-one, .feat-two, .feat-three {
    height: 275px;
    width: 80%;
    background-color: transparent;
    padding: 20px;
    background-image: url("https://i.imgur.com/BT1iaWs.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .feat-icon {
        font-size: 25px;
    }

    h1 {
        margin-top: 8px;
        font-weight: bold;
    }

    .home-card-content {
        position: relative;
        bottom: 20px;
    }

    .home-link {
        color: rgb(65, 65, 65);
    }
}

// --------------------------
// Nav 
// --------------------------
.nav {
    a {
        color: #fff;
    }
}

.nav-icon {
    margin-right: 10px;
}

.is-active {
    background-color: rgba(52, 52, 52, 0.137);
    color: #fff;
}

.nav {
    a:hover {
        background-color: transparent;
        color: #fff;
    }
}

// --------------------------
// Media Query
// --------------------------
@media screen and (min-width: 500px) {
.job-container, .result-container {
    width: 60vw;
}
}

@media screen and (min-width: 768px) {
.index-container {
    height: 100%;
    background-image: url("https://i.imgur.com/VvJn5B5.jpg");
    background-image: linear-gradient(#e4e4e436, rgba(75, 75, 75, 0.137)), url("https://i.imgur.com/VvJn5B5.jpg");
    background-image: -webkit-linear-gradient( #e4e4e436, rgba(75, 75, 75, 0.137)), url("https://i.imgur.com/VvJn5B5.jpg");
    background-image: -moz-linear-gradient( #e4e4e436, rgba(75, 75, 75, 0.137)), url("https://i.imgur.com/VvJn5B5.jpg");
}

.title-container {

    h1 {
        font-size: 45px;
        padding: 20px;
    }
}

.index-title-container {
    margin-top: 70px;
    width: 50%;
    padding: 20px;
    margin-bottom: 40px;

    h2 {
        font-size: 30px;
    }
}

.section, .result-list-container {
    align-self: flex-start;
    width: 100vw;
    @include flex-row;
    flex-wrap: wrap;
}

.job-container, .result-container {
    width: 40vw;
    margin: 20px;
    padding: 25px;
}

// /*--SEARCH--*/
// .search-container {
//     // @include backgroundImage;
//     background-image: $showPic;
//     background-repeat: no-repeat;
//     background-size: 100% 100%;
    

// }

.search-title-container {
    @include flex-row;
    padding: 0;
    h1 {
        font-size: 45px;
        padding: 10px;
    }
}

.search-box, .search-box-2 {
    position: static;
    width: 50%;
    height: 350px;
    background-color: transparent;
    padding: 20px;
    background-image: url("https://i.imgur.com/BT1iaWs.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    @include flex-column;
}

.search-box-2 {
    background-image: url("https://i.imgur.com/ZJQzi2H.png");
}

/*--specialty form--*/
.search-form-label {
    color: #000;
    font-size: 18px;
}

.spec-form-container {
    position: relative;
    bottom: 15px;
}

.spec-btn {
    margin-left: 10px;
}

/*--company form--*/
.co-form {
    color: #000;
    position: relative;
    bottom: 10px;
}

.co-input {
    width: 50%;
    margin-right: 10px;
}

.co-control, .spec-control {    
    @include flex-row;
}

/*---SHOW--*/
.show-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.show-title-container {
    padding: 55px;
    margin-top: 40px;
    margin-bottom: 60px;
   
    .show-title-text {
        font-size: 40px;
    }
}

.show-content {
    width: 70%;
    font-size: 20px;
    padding: 25px;
}

.show-console-one {
    margin-top: 15px;
}

.console-link-span {
    margin-left: 10px;
}

.console-link-i {
    font-size: 20px;
}

.show-checkBoxes {
    margin-top: 20px;

    h2 {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .show-icon-span {
        margin-right: 10px;
    }

    .show-check-no {
        font-size: 20px;
    }

    .show-check-yes {
        font-size: 20px;
    }

}

.show-notes {
    margin-top: 22px;

    p {
        margin-top: 15px;
    }
}

.show-buttons {
    margin-bottom: 50px;
    width: 50%;
    margin-top: 30px;
    margin-bottom: 50px;

    .fa-edit, .fa-trash {
        font-size: 20px;
    }
}

/*--HOME--*/
.home-container {
    height: 100vh;
}

.home-title-container {
    margin-top: 60px;
    width: 100vw;
    padding: 90px;

    h1 {
        font-size: 45px;
    }

    p {
        margin-top: 25px;
        font-size: 18px;
    }
}

.auth-btns {
    width: 50%;
}


.features-container {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 98%;
}

.feat-one, .feat-two, .feat-three {
    height: 250px;
    padding: 20px;

    .feat-icon {
        font-size: 25px;
    }

    .home-card-content {
        position: relative;
        bottom: 20px;
    }
}

.home-start-btn {
    font-family: $postIt;
    font-weight: bold;
    font-size: 20px;
    padding: 30px;
    color: #fff;
    background-color: rgba(128, 128, 128, 0.938);
}

}

@media screen and (min-width: 950px) {
.title-container {
    margin-top: 50px;
    padding: 45px;
    
    h1 {
        font-size: 50px;
        }
}

.index-title-container {
    margin-top: 90px;
    width: 50%;
    padding: 30px;

    h2 {
        font-size: 35px;
    }
}

.index-card-title, .search-res-title {
    font-size: 26px;
}

.job-container {
    padding: 25px;
    width: 35vw;
    font-size: 21px;
}

/*--Search--*/
.search-title-container {
    margin-top: 50px;
    padding: 35px;
    
    h1 {
        font-size: 55px;
        }
}

.loaded-title {
    margin-top: 50px;

    h1 {
        font-size: 40px;
    }
}

.search-box, .search-box-2 {
    width: 49%;
    padding: 80px;
}

.search-form-label {
    color: #000;
    font-size: 25px;
}

.spec-btn {
    margin-left: 10px;
}

.co-input {
    width: 80%;
    margin-right: 10px;
}

.co-control, .spec-control {    
    @include flex-row;
}

/*--results--*/
.result-container {
    font-size: 22px;
}

.result-card-content {

    h2 {
        margin: 10px;
    }
}

.search-res-title {
    font-size: 26px;
}

.result-card-btn-box {
    margin-top: 18px;
}

.result-link {
    font-size: 25px;
}

span {
    font-size: 25px;
}

.fa-file-download  {
    font-size: 22px;
}

.remotive-blurb {
    margin-top: 60px;
    width: 60vw;
    padding: 40px;
    margin-bottom: 60px;

    p, a {
        font-size: 29px;
    }
}

/*---SHOW--*/
.show-title-container {
    padding: 65px;
    margin-top: 70px;
    margin-bottom: 50px;
   
    .show-title-text {
        font-size: 50px;
    }
}

.show-content {
    width: 75%;
    font-size: 25px;
}

.show-console-one {
    margin-top: 20px;
}

.console-link-span {
    margin-left: 10px;
}

.console-link-i {
    font-size: 25px;
}

.show-checkBoxes {
    margin-top: 25px;
    margin-bottom: 30px;

    h2 {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .show-icon-span {
        margin-right: 15px;
    }

    .show-check-no {
        font-size: 25px;
    }

    .show-check-yes {
        font-size: 25px;
    }

}

.show-notes {
    margin-top: 30px;

    p {
        margin-top: 20px;
    }
}

.show-buttons {
    width: 50%;
    margin-top: 40px;
    margin-bottom: 50px;
    padding: 40px;

    .fa-edit, .fa-trash {
        font-size: 25px;
    }
}

/*--HOME--*/
.home-container {
    height: 100vh;
}

.home-title-container {
    width: 100vw;
    padding: 110px;

    h1 {
        font-size: 55px;
    }

    p {
        margin-top: 30px;
        font-size: 22px;
    }
}

.features-container {
    margin-top: 90px;
    width: 95%;
}

.feat-one, .feat-two, .feat-three {
    height: 300px;
    padding: 20px;

    .feat-icon {
        font-size: 30px;
    }

    h1 {
        font-size: 17px;
    }

    .home-card-content {
        position: relative;
        bottom: 20px;
    }
}

.home-start-btn {
    font-size: 25px;
    padding: 40px;
}

}

@media screen and (min-width: 1200px) {
.index-container {
    height: 100%;
    background-image: $showPic;
    background-image: linear-gradient(#e4e4e436, rgba(75, 75, 75, 0.137)), $showPic;
    background-image: -webkit-linear-gradient( #e4e4e436, rgba(75, 75, 75, 0.137)), $showPic;
    background-image: -moz-linear-gradient( #e4e4e436, rgba(75, 75, 75, 0.137)), $showPic;
    @include flex-column;
}

.title-container {
    
    h1 {
        font-size: 60px;
    }
}

.index-card-title, .search-res-title {
    font-size: 28px;
}

.section {
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.index-loaded {
    align-self: center;
}

.job-container, .result-container {
    width: 35%;
    font-size: 25px;
    padding: 30px;
}

.index-card-content, .result-card-content {
    margin-bottom: 20px;
}

/*--Search--*/
.search-container {
    background-image: $brick500;
    background-image: linear-gradient(#e4e4e436, rgba(75, 75, 75, 0.137)), $brick500;
    background-image: -webkit-linear-gradient( #e4e4e436, rgba(75, 75, 75, 0.137)), $brick500;
    background-image: -moz-linear-gradient( #e4e4e436, rgba(75, 75, 75, 0.137)), $brick500;
}

.search-title-container {
    margin-top: 50px;
    padding: 35px;
    
    h1 {
        font-size: 60px;
        }
}

.search-box, .search-box-2 {
    width: 49%;
    padding: 85px;
}

.search-form-label {
    margin-bottom: 20px;
    color: #000;
    font-size: 28px;
}

.spec-btn {
    margin-left: 10px;
}

/*--results--*/
.result-list-container {
    width: 70%;
}

.result-container {
    font-size: 22px;
    margin: 20px;
}

.remotive-blurb {
    margin-top: 60px;
    width: 60%;
    padding: 40px;
    margin-bottom: 60px;

    p, a {
        font-size: 29px;
    }
}

/*---SHOW--*/
.show-container {
    height: 100%;
}

.show-title-container {
    margin-bottom: 120px;
}

.show-content {
    width: 70%;
}

/*--HOME--*/
.home-container {
    height: 100%;
}

.home-title-container {
    width: 100vw;
    padding: 90px;
    margin-top: 60px;

    h1 {
        font-size: 55px;
    }

    p {
        margin-top: 35px;
    }
}

.auth-btns {
    width: 40%;
}

.features-container {
    margin-top: 90px;
    width: 95%;
    margin-bottom: 140px;
}

.feat-one, .feat-two, .feat-three {
    height: 275px;
    width: 95%;

    .feat-icon {
        font-size: 30px;
    }

    h1 {
        font-size: 15px;
    }

    .home-card-content {
        position: relative;
        bottom: 20px;
    }
}

}